#box{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}
#menu ul{
    width:100%;
    background-color: black;
    color:white;
    font-weight: bolder;
    display: flex;
    list-style: none;
}
button{
     color: white;
     background-color: goldenrod;
}